/* Default */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Variables */

:root{
 --pale-violet : hsl(276, 100%, 81%);
 --moderate-violet : hsl(276, 55%, 52%);
 --desaturated-dark-violet : hsl(271, 15%, 43%);
 --grayish-blue : hsl(206, 6%, 79%);
 --dark-grayish-violet : hsl(270, 7%, 64%);
 --light-magenta: hsl(293, 100%, 63%);
 --light-violet: hsl(264, 100%, 61%);
 --light-grayish-violet : hsl(270, 20%, 96%);
 --very-dark-desaturated-violet : hsl(271, 36%, 24%);
 --very-light-magenta: hsl(289, 100%, 72%);
}

/* Styles */

body{
  font-family: 'Rubik', sans-serif;
}

p{
  font-size:16px;
}

i{
  font-size : 10px;
  font-weight:700;
}

body{
  background-color: var(--light-grayish-violet);
}

.container{
  display:flex;
}

.first{
  width: 50%;
  position: relative;
  
}

.second{
  min-height: 100vh;
  width: 50%;
  display : flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  
}


.background{
  position : absolute;
  height: 85vh;
  width: 27rem;
  background:linear-gradient(to top,  var(--light-violet) 60% , var(--light-magenta) );
  border-radius:0 0 50% 50%;
  left: -3.5rem;
  top: 0rem;
}

.tel{
  position: relative;
}

.border{
  margin-bottom: 5rem;
  width: 250px;
  min-height: 450px;
  position: absolute;
  top: 25vh;
  left: 45%;
  border : 8px solid white;
  border-radius: 30px;
  overflow-x: hidden;
  background-color: var(--light-grayish-violet);
}


.bg-white{
  width: 100px;
  height :10px;
  z-index: 100;
  position: absolute;
  background-color: white;
  border-radius : 0 0 15px 15px;
  left : 70px; 
}

/***TOP********/

.name{  
  background:linear-gradient(to right,  var(--light-violet)  , var(--light-magenta)) center center / cover;
  display : flex;
  padding: 1.1rem .8rem .5rem .8rem; 
  color : white;
  align-items: center;  
  width: 100%;
}

.info{
  display : flex;
}

.info .image{
  width:30px;
  margin : auto .8rem;
}

.info .image img{
  width: 100%;
  border : white 3px solid;
  border-radius: 50%;
}


.info .desc h3{
  font-weight: 700;
  font-size: 15px;
  margin-bottom : 2px;
}

.info .desc p{
  font-size:10px;
  color : var(--pale-violet);
}

.left-icon{
  position : absolute;
  right :18px;
}

/*** D I S C U S S I O N *******/

.discussion{
  padding : 5px 10px;
  display : flex;
  flex-direction : column;
}

.discussion p{
  background-color : #ede5f0;
  border-radius: 9px;
  width: 8.2rem;
  font-size: 9px;
  margin-bottom: 5px;
}

.other{
  margin-bottom: 5px;
}

.other p{
  color : var(--moderate-violet);
  font-size :400;
  padding : 5px;
}

.me{
  margin-bottom: 5px;
  display: flex;
  flex-direction : column;
  align-items: flex-end;
}

.me p{
  width: 135px;
  background-color:white;
  padding : 5px;
  color : var(--desaturated-dark-violet);
}

.me p.small{
  width:fit-content;
}

.me p.image{
  display: flex;
  flex-direction : row;
  justify-content:space-between;
  background-color:transparent;
  width:130px;
  padding: 0;
}

.me p.image img{
  width: 40px;
  border-radius:9px;
}

p.price{
  position: relative;
  width: 11rem;
  background:linear-gradient(to left,  var(--light-violet)  , var(--light-magenta)) center center / cover;
  color:white;
  padding : 10px;
  display: flex;
  align-items: center;
}

p.price i{
  font-size:20px;
  color: var(--very-light-magenta);
}

p.price .p{
  color: hsl(270, 20%, 96%);
  margin-left:10px;
}

p.price .num{
  font-weight: 700;
  font-size:15px;
  position: absolute;
  right:10px;
}


/********** I N P U T **********/

form{
  background-color : white;
  margin :0 15px 15px 15px ;
  border-radius:30px;
  position: relative;
  display : flex;
  align-items : center;
}

input{
  -webkit-appearance: none;
  border : none;
  background-color:transparent;
  padding:  15px 15px;
}

textarea, input { outline: none; }


input:hover,input:focus,input:active,input:checked,input{
  border : none;
}

form i{
  position: absolute;
  right: 15px;
  color : white;
  background-color : var(--very-dark-desaturated-violet);
  padding : 10px;
  border-radius :50%;
}


/******* B O O K ******/
.second{
  display: flex;
  justify-content: center;
}

.book{
  float: left;
  display : flex;
  flex-direction : column;
  justify-content: center;
  margin : auto;
  
}

.book h1{
  font-size:45px;
  font-weight: 700;
  color :  var(--very-dark-desaturated-violet);
  margin-bottom: 2rem;
}

.book p{
  color : var(--dark-grayish-violet );
  width: 400px;
  line-height: 22px;
  font-weight: 500;
}

/* **********  M E D I A   Q U E R I E S ********** */

@media(max-width:900px) {
  body {
    height: 100vh;
  }

  .container{
      display:flex;
      flex-direction :column;
  }
  
  .first{
      width: 100%;
      height : 100vh;
  }
  
  .border{
    top: 25vh;
    /* top: 2.5rem; */
    left: 33%;
  }
  
  .background{
      height: 95vh;
      width: 60%;        
      left: -3.5rem;
      top: 0rem;
  }
  
  .second{
      height: auto;
      width: 100%;
      display : contents;
  }
  
  .book{
      margin-bottom:5rem;
  }
  
  .book h1{
      font-size:45px;
      
  }
  
  .book p{
      color : var(--dark-grayish-violet );
      width: 400px;
      line-height: 22px;
      font-weight: 500;
  }
  
}


@media(max-width:600px){
  .container{
      display:flex;
      flex-direction :column;
  }

  .first{
      width: 100%;
      height : 100vh;
  }

  .second{
      height: auto;
      width: 100%;
      display : contents;
      margin-bottom: 5rem !important;
  }

  .book{
      margin-bottom:5rem;
  }

  .border{
      margin-bottom: 5rem;
      width: 250px;
      min-height: 450px;
      position: absolute;
      top: 2.5rem;
      left: 20%;
      border : 8px solid white;
      border-radius: 30px;
      overflow-x: hidden;
      background-color: var(--light-grayish-violet);
  }

  .background{
      position : absolute;
      height: 95vh;
      width: 60%;
      background:linear-gradient(to top,  var(--light-violet) 60% , var(--light-magenta) );
      border-radius:0 0 50% 50%;
      left: -3.5rem;
      top: 0rem;
  }

}